node_modules
databases
.idea

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
static/.env
static/.env.example
!static/.env.example
!.env.test
.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*